background-image: url("https://github.com/alissongallardo/Portifolio-site---Test/blob/c822c62af03846303d9756527cdc559a782a9bb8/FXG1y0vWIAA3XL5.jpg");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("fundo.jpg");
  background-size: cover;         /* faz a imagem cobrir tudo */
  background-position: center;    /* centraliza a imagem */
  background-repeat: no-repeat;   /* não repete */
  color: #fff;                    /* muda a cor do texto se necessário */
}
